{% extends 'base.html' %}

{% block title %}Shooop | Edit product{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="d-flex justify-content-center">
    <div class="card my-5 w-50">
        <div class="container my-4">
            <h5>Add Product</h5>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark my-2">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}